<html>
  <head>
    <title>This is test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/styles/main.min.css" type="text/css" />
  </head>

  <body>
    {{{body}}}
  </body>

  <script src="/socket.io/socket.io.js"></script>

  <script>
    var socket = io();
  </script>

  <script src="/scripts/vendor.bundle.js"></script>
  <script src="/scripts/common.bundle.js"></script>
</html>
