// Styles for chat component

.chat {
  height: 135px;
  overflow: scroll;
  margin-top: 12px;

  @include respond-to-min($bp-medium) {
    margin-top: 0;
    height: 450px;
  }
}

@keyframes pop {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

.chat__message {
  background-color: #D7D7DD;
  margin-bottom: 10px;
  padding: 7px;
  transform: scale(1);
  animation: .4s pop ease-out;

  &:nth-child(2n) {
    background-color: #AACADE;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.chat__join {
  background-color: #DA5256;
  margin-bottom: 10px;
  padding: 7px;
  transform: scale(1);
  animation: .4s pop ease-out;
  color: #FFF;

  &:last-child {
    margin-bottom: 0;
  }
}

.chat-form {
  width: 100%;
  display: flex;
  margin-top: 12px;

  position: fixed;
  left: 0;
  bottom: 0;

  @include respond-to-min($bp-medium) {
    margin-top: 24px;

    position: static;
  }
}

.chat-form__fieldset {
  width: 75%;
}

.chat-form__input {
  background-color: #CFD9E0;
  width: 100%;
  padding: 29px 12px 30px;
  border: 0;

  @include respond-to-min($bp-medium) {
    border-radius: 25px 0 0 25px;
    padding: 29px 25px 30px;
  }
}

.chat-form__button {
  background-color: #DA5256;
  width: 25%;
  margin: 0;
  padding: 29px 12px 30px;
  border: 0;
  color: #FFF;

  @include respond-to-min($bp-medium) {
    border-radius: 0 25px 25px 0;
  }

  &:hover {
    background-color: #af484b;
  }
}
