<form class="chat-form" data-chat-form>
  <fieldset class="chat-form__fieldset">
    <legend class="u-visually-hidden">Chat</legend>

    <label class="u-visually-hidden" for="chat">Chat</label>
    <input type="text" id="chat" name="chat" class="chat-form__input" placeholder="Type your message..."data-chat-message/>
  </fieldset>

  <input type="button" value="send" class="chat-form__button" data-chat-send/>
</form>
